<%- include('layout/admin_header.ejs', { title : 'Profile' }) %>

<section class="dashboard">

   <h1 class="heading">dashboard</h1>

   <div class="box-container">

      <div class="box">
         <h3>welcome!</h3>
         <p><%= tutor.name  %></p>
         <a href="/admin/profile" class="btn">view profile</a>
      </div>

      <div class="box">
         <h3><%= total_content %></h3>
         <p>total contents</p>
         <a href="/admin/add_content" class="btn">add new content</a>
      </div>

      <div class="box">
         <h3><%= total_playlist %></h3>
         <p>total playlists</p>
         <a href="/admin/add_playlist" class="btn">add new playlist</a>
      </div>

      <div class="box">
         <h3><%= total_content %></h3>
         <p>total likes</p>
         <a href="/admin/contents" class="btn">view contents</a>
      </div>

      <div class="box">
         <h3><%= total_content %></h3>
         <p>total comments</p>
         <a href="/admin/comments" class="btn">view comments</a>
      </div>

      <div class="box">
         <h3>quick select</h3>
         <p>login or register</p>
         <div class="flex-btn">
            <a href="/admin/login" class="option-btn">login</a>
            <a href="/admin/register" class="option-btn">register</a>
         </div>
      </div>

   </div>

</section>


<%- include('layout/admin_footer.ejs') %>

