<%- include('../layout/admin_header.ejs', { title : 'Update teacher profile'}) %>

<!-- register section starts  -->

<section class="form-container" style="min-height: calc(100vh - 19rem);">

   <form class="register" action="/admin/profile/update" method="post" enctype="multipart/form-data">
      <h3>update profile</h3>
      <div class="flex">
         <div class="col">
            <p>your name </p>
            <input type="text" name="name" value="<%= tutor.name  %>" maxlength="50"  class="box">
            <p>your profession </p>
            <select name="profession" class="box">
               <option value="developer" 
               <%= tutor.profession === 'developer' ? 'selected' : ""  %>>Developer</option>
               <option value="desginer" 
               <%= tutor.profession === 'desginer' ? 'selected' : ""  %>>Desginer</option>
               <option value="musician" <%= tutor.profession === 'musician' ? 'selected' : ""  %>>Musician</option>
               <option value="biologist" <%= tutor.profession === 'biologist' ? 'selected' : ""  %>>Biologist</option>
               <option value="teacher" <%= tutor.profession === 'teacher' ? 'selected' : ""  %>>Teacher</option>
               <option value="engineer" <%= tutor.profession === "engineer" ? 'selected' : ""  %>>Engineer</option>
               <option value="lawyer" <%= tutor.profession === 'lawyer' ? 'selected' : ""  %>>Lawyer</option>
               <option value="accountant" <%= tutor.profession === 'accountant' ? 'selected' : ""  %>>accountant</option>
               <option value="doctor" <%= tutor.profession === 'doctor' ? 'selected' : ""  %>>Doctor</option>
               <option value="journalist" <%= tutor.profession === 'journalist' ? 'selected' : ""  %>>Journalist</option>
               <option value="photographer" <%= tutor.profession === 'photographer' ? 'selected' : ""  %>>Photographer</option>
            </select>
            <p>your email </p>
            <input type="email" disabled style="cursor: not-allowed;" name="email" value="<%= tutor.email  %>" maxlength="20"  class="box">
         </div>
         <div class="col">
            <p>Prevous password :</p>
            <input type="password" name="old_password" placeholder="enter your old password" maxlength="20"  class="box">
            <p>New password :</p>
            <input type="password" name="new_password" placeholder="enter your new password" maxlength="20"  class="box">
            <p>Confirm password :</p>
            <input type="password" name="confirm_password" placeholder="confirm your new password" maxlength="20"  class="box">
         </div>
      </div>
      <p>Update pic :</p>
      <input type="file" name="image" accept="image/*"  class="box">
      <input type="submit" value="update now" class="btn">
   </form>

</section>

<!-- registe section ends -->

<%- include('../layout/admin_footer.ejs') %>