<%- include('layout/header.ejs',{ title: 'Likes' }) %>

<!-- courses section starts  -->

<section class="liked-videos">

   <h1 class="heading">liked videos</h1>

   <div class="box-container">

 <% if (likes && likes.length > 0 ) { %>
      <% likes.forEach(like => { %>      
         
         <% if (like.playlists && like.contents > 0) { %>
         <% like.contents.forEach(content => { %>
            
            <% if (content.tutor) { %>
               <div class="box">
                  <div class="tutor">
                     <img src="uploaded_files/<%= content.tutor.image  %>" alt="">
                     <div>
                        <h3><?= $fetch_tutor['name']; ?></h3>
                        <span><?= $fetch_contents['date']; ?></span>
                     </div>
                  </div>
                  <img src="uploaded_files/<%= content.thumb  %>" alt="" class="thumb">
                  <h3 class="title"><%= content.title  %></h3>
                  <form action="" method="post" class="flex-btn">
                     <input type="hidden" name="content_id" value="<%= content.id  %>">
                     <a href="watch_video.php?get_id=<%= content.id  %>" class="inline-btn">watch video</a>
                     <input type="submit" value="remove" class="inline-delete-btn" name="remove">
                  </form>
               </div>
            <% } else { %>
               <p class="empty">Tutor not found!</p>
            <% } %>

         <% }) %>
         <% } else { %>
         <p class="empty">Content was not found!</p>
         <% } %>

      <% }) %>
      <% } else { %>
      <p class="empty">Nothing added to likes yet!</p>
      <% } %>
   </div>

</section>


<!-- like section end  -->

<%- include('layout/footer.ejs') %>