<%- include('layout/header.ejs',{ title: 'Teachers'}) %>

<!-- teachers section starts  -->

<section class="teachers">

   <h1 class="heading">Expert Tutors</h1>

   <form action="/search_tutor" method="get" class="search-tutor">
      <input type="text" name="search" maxlength="100" placeholder="search tutor..." required>
      <button type="submit" class="fas fa-search"></button>
   </form>

   <div class="box-container">

      <div class="box offer">
         <h3>Become a Tutor</h3>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, magnam!</p>
         <a href="/admin/register" class="inline-btn">get started</a>
      </div>

      <% if (teachers.length > 0 ) { %>
      <% teachers.forEach(tutor => { %>
      
         <div class="box">
            <div class="tutor">
               <img src="uploaded_files/<%= tutor.image %>" alt="">
               <div>
                  <h3><%= tutor.name %></h3>
                  <span><%= tutor.profession %></span>
               </div>
            </div>
            <p>playlists : <span><%= tutor.total_playlists %></span></p>
            <p>total videos : <span><%= tutor.total_videos %></span></p>
            <p>total likes : <span><%= tutor.total_likes %></span></p>
            <p>total comments : <span><%= tutor.total_comments %></span></p>
            <a href="/tutor-profile/<%= tutor.id %>" class="inline-btn">view profile</a>
         </div>

      <% }) %>
      <% } else { %>
      <p class="empty">No tutors found!</p>
      <% } %>

   </div>

</section>

<!-- teachers section ends -->

<%- include('layout/footer.ejs') %>